.container {
  background-color: aquamarine;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 20px;
  .formDiv {
    table {
      td,
      th {
        padding: 10px;
      }
      tr {
        td {
          position: relative;
          input[type="text"],
          input[type="date"],
          input[type="time"] {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 95%;
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
          }
          select {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
          }
          .error {
            color: red;
            font-size: small;
            position: absolute;
            bottom: -6px;
            left: 17px;
          }
        }
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .button {
        cursor: pointer;
        font-size: medium;
        margin-top: 10px;
        padding: 5px 75px;
        border: 1px solid black;
        border-radius: 10px;
      }
    }
  }
  #displayTable {
    display: flex;
    flex-direction: column;
    thead {
      tr {
        width: 100%;
        th {
          width: auto;
          justify-content: center;
        }
      }
    }
  }
}
