.header{
    background-color: bisque;
    padding: 1rem;
    text-align: center;
    display: flex;
}

.header ul{
    list-style: none;
    display: flex;
}

.header a{
    margin: 0 1rem;
}

.header a.active{
    background-color: #fff;
    color: #1a50a0;
    border-radius: 20px;
    padding: 0.5rem;
}