.navbar {
  background-color: $primary-color;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $text-color;
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: end;

    li a {
      text-decoration: none;
      color: $text-color;
      padding: 0px 20px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
