@use "variable" as var;
@use "sass:color";

@mixin animation-mixin($name) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dashboard-content {
  padding: var.$padding;

  .event-form {
    max-width: 1200px;
    margin: 0 auto;

    .form-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var.$padding;

      .form-section {
        animation: slideIn 0.6s ease-out;
        padding: var.$padding;
        box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.1);
        border-radius: var.$border-radius;

        h2 {
          font-size: 1.25rem;
          font-weight: 600;
          color: var.$text-primary-color;
          margin-bottom: 1.5rem;
        }
        .input-group {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1rem;
          margin-bottom: 1rem;

          .form-field {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            transition: var.$transition;

            label {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              font-size: 0.875rem;
              color: var.$text-secondary-color;
              font-weight: 500;

              .fas {
                font-size: 1rem;
                color: var.$primary-color;
                transition: var.$transition;
              }

              &::after {
                content: "*";
                color: var.$error;
                margin-left: 4px;
              }
            }
            .select-wrapper {
              position: relative;
            }

            select,
            input {
              width: 100%;
              padding: 0.75rem 1rem;
              border-radius: var.$border-radius;
              border: 1px solid var.$border-color;
              font-size: 1rem;
              background: var.$input-bg;
              color: var.$text-primary-color;
            }
            select {
              position: relative;
            }
            .select-wrapper::after {
              content: url("../SVGs/arrow-down-3101.svg");
              position: absolute;
              top: 50%;
              transform: translateY(-58%);
              right: 1rem;
              pointer-events: none;
              color: var.$primary-color;
            }
          }
          .form-field.error {
            select,
            input {
              border: 1px solid var.$error;
            }
            .error-message {
              font-size: small;
              color: var.$error;
              margin-top: 0.25rem;
            }
          }
          .form-field:hover {
            label {
              .fas {
                transform: scale(1.1);
              }
            }
          }
        }
        @include animation-mixin(slideIn);
      }
    }
    .form-actions {
      padding: var.$padding;
      display: flex;
      justify-content: end;
      gap: var.$padding;
      background: var.$surface;
      box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.1);
      border-radius: var.$border-radius;

      .btn {
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 1.5rem;
        border: 0;
        cursor: pointer;
        border-radius: var.$border-radius;
        transition: var.$transition;
      }
      .btn-secondary {
        background: var.$background-color;
        color: var.$text-primary-color;
        &:hover {
          transform: translateY(-2px);
          background: var.$border-color;
        }
      }
      .btn-primary {
        background: var.$primary-color;
        color: var.$text-white;
        &:hover {
          background: var.$primary-light;
          transform: translateY(-2px);
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .form-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        .form-section {
          .input-group {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
