body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
#div {
  margin: 20px;
  border: 1px solid cadetblue;
  border-radius: 20px;
  width: 50%;
  justify-self: center;
}
#data {
  display: flex;
  justify-self: start;
  width: 100px;
  height: 30px;
  margin: 10px;
}
#formDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
form {
  padding: 10px;
  justify-content: space-evenly;
}
form * {
  padding: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  width: 90%;
  border-radius: 5px;
}
select {
  border: 2px solid black;
  width: 92%;
  border-radius: 5px;
}
.input-control input {
  border: 2px solid black;
}

.input-control.error input {
  border: 2px solid red;
  outline: red;
}
.input-control.error select{
  border: 2px solid red;
  outline: red;
}
.input-control .error {
  display: block;
  position: absolute;
  font-size: 10px;
  padding: 0 10px;
  color: red;
}
.buttons {
  margin: 10px -6px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  width: 30%;
  margin: 0 30px;
  border: 0px;
  border-radius: 20px;
  background-color: cadetblue;
  color: white;
  font-size: 15px;
}
.button:hover {
  background-color: rgb(58, 125, 127);
  transition-duration: 500ms;
}
th {
  min-width: 100px;
  width: 150px;
}
